body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.container {
    padding: 10px;
    background-color: #1F2026;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border-radius: 5px;
    gap: 5px;
}

#display{
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #272831;
}
#equation{
    margin-bottom: 2px;
    height: 70%;
    border: 1px solid red;
}
#equationOne{
    border: 1px solid yellow;
    margin: 0;
    text-align: right;
}
#sign{
    border: 1px solid green;
    margin: 0;
}
#equationTwo{
    border: 1px solid blue;
    margin: 0;
    text-align: right;
}
#answer{
    height: 30%;
    border: 1px solid white;
}
.btn-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btnRow{
    flex: 1;
    display: flex;
    gap: 5px;
}

button{
    flex: 1;
    border: none;
    border-radius: 4px;
}
button:active{
    background-color: gray;
}
#equal:active{
    background-color: rosybrown;
}

#equal{
    background-color: #D97171;
    color: white;

}
#equal, #divide, #add, #multiply, #subtract, #AC, #C, #percent{
    font-size: 15px;
    font-weight: bold;
}
#AC, #C{
    color: red;
}
#zero{
    flex: 2.5;
}
